<h1>Dashboard</h1>
<div>
    {{#each posts}}
        <div>
            <span >{{title}}</span>
            <span>{{likes}}</span>
            <span>{{createdAt}}</span>
            <button data-id={{id}} id="edit">Edit</button>
            <button data-id={{id}} id="delete">Delete</button>
        </div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>