<div class="dashboard-title">
    <h1>Your Posts</h1>
    <a href="/posts/create">Create New Post</a>
</div>
<div class="dashboard-list">
    <ul>
        {{#each posts}}
        <li>
            <div>
                <a href="/posts/{{id}}">
                    <h2>{{title}}</h2>
                    <span>{{likes}} likes</span>
                    <span class="post-details">Posted on: {{format_date date}} by {{User.name}}</span>
                </a>
                <input data-id={{_id}} id="view" type="button" value="View" class="view" />
                <button data-id={{_id}} id="edit">Edit</button>
                <button data-id={{_id}} id="delete">Delete</button>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<script src="/js/dashboard.js"></script>