<div>
    {{#each posts}}
        <a href="/posts/{{id}}">
            <span >{{title}}</span>
            <span>{{likes}}</span>
            <span>{{createdAt}}</span>
            <button id={{id}}>Like</button>
            <button class="view" id={{id}}>View</button>
        </a>
    {{/each}}
</div>

<script src="/js/homepage.js"></script>