<div>
    {{#each posts}}
    <div>
        <a href="/posts/{{id}}">
            <span>{{title}}</span>
            <span>{{likes}}</span>
            <span>{{createdAt}}</span>
        </a>
        <button id={{id}}>Like</button>
        <input data-id={{id}} type="button" value="View" class="view" />
    </div>
    {{/each}}
</div>

<script src="/js/homepage.js"></script>